/*
selector + property: value

common selectors:
1. element selectors
2. class selectors
3. ID selectors
*/

p{color:#000080} /*element selector*/
.CIS2336{font-style: Comic ; color: #E1AD01} /*class selector*/
#first{color: Beige} /*ID selector*/

body {
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(images/360_F_523806444_q0VHGHVaz1m9cs2jinc6K66D0gKiMJ3a.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}